p b {
  color: purple;
}

ul i {
  text-decoration: underline;
}

h1 + h2 {
  color: green;
}

h2 + h3{
  margin: 8px 0 19px 0;
  text-decoration: underline dotted red;
}

ol ~ h3 { 
  border: 1px solid blue;
  padding: 5px;
}

ul ~ p {
  border: 1px dotted black;
}

ul > li > ul > li {
  color: brown;
}

p i{
  color: blue;
}

.u-line i {
  text-decoration: 1px underline solid;
}

h3 + p {
  margin-top: 0;
}

ol + h2{
  text-decoration: 1px underline solid;
}

.random ~ p {
  padding: 12px 0 12px 0;
}

.last-list ~ a{
  color: yellow;
}

.my-list > li {
  text-decoration: 1px underline solid;
}

.nested ul > li > a {
  padding: 5px;
  display: inline-block;
  color: green;
}